@charset "utf-8";
/* CSS Document */
/*
back:#333;
*//*
body
{
	margin-top: 55px;	
}
.page-header
{
	background-color:#333;
	margin:0px;
	padding:0;	
}
.page-header .navbar-header a
{
color:#CCC !important; 	
font-size:36px !important;
}
.page-header .navbar-header a:hover
{
	color:#fff;
	text-decoration:none;	
}
.icon-bar
{
	background-color:#FFF;	
}
.sidebar{
	margin:0px;
	padding:0px;
	height:100%;
	
}
.sidebar .navbar
{
	padding:5px 5px;	
}
a:hover {
	text-decoration:none;
	
}
.sidebar a{
	color:#333;	
}
.sidebar a:hover
{
	color:#000;
	background-color: #66abd9 !important;
}
.sidebar .nav
{
	font-size:16px;	
}
.sidebar .navbar-default
{
	background-color:#e9e9e9;	
}
.mainContainer
{
	border-left:1px dotted #000000;	

	border-right:1px dotted #000000;	
}
.btnIcon
{
	font-size:25px;
	padding:10px 15px;	
}
.sidebar .navbar-header img
{
	margin:0 10px 10px 10px;
	
}
.chatBox
{
	padding:0px;
}
.menuBtn
{
 background-color:#008CBA !important;
 border-color:#0079A1 !important;	
} */
.mainContainer {
	
	min-height:520px;
}
.innerManu {
	margin:0px;
}
.loginPage
{
	width:350px;
	min-height:550px;	
}
.xs_text {
	font-size:12px;
}
button
{
	font-size:18px;	
}
.tree {
    min-height:20px;
    /*padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
}
.tree li {
    list-style-type:none;
    margin:0;
    /*padding:10px 5px 0 5px;*/
    position:relative
}
.tree li::before, .tree li::after {
    /*content:'';
    left:-20px;
    position:absolute;
    right:auto;*/
}
.tree li::before {
    /*border-left:1px solid #999;*/
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    /*border-top:1px solid #999;*/
    height:20px;
    top:25px;
    width:25px
}
.tree li span{
    border:1px solid #999;
   
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span,.sideBtn{
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span{
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.tree .parent_li {
	border: 1px dotted #A8CBE0;
	/*background-color: #C8D7E0;*/
	
}
.tree ul {
	list-style: none !important;
}
.tree .leaf {
	background-color:White;
}
li.parent_li>ul>li {
	/*border: 1px solid;*/
	/*background-color: White;*/
	border: 1px dotted #A8CBE0;
	
}
.tree ul {
	padding:  10px;
}
.side;
}
.sideBtn
{
	padding:3px 4px;
	font-size: 15px;
	
}
#AddFolderForm .form-group,#AddFileForm .form-group{
	padding-top:5px;
}

.grid a
{
	display:block;
	color:Black;
	text-decoration:none;	
}
.msg
{
	width: 500px;
	margin: 0 auto;
	font-size:16px;		
}